body {
    height: 100vh;
}
div {
    height: 7em;
    width: 7em;
    border-radius: 1em;
    background-color: silver;
}
#relative {
    background-color: tomato;
    position: relative;
    top: 1em;
    left: 1em;
}
#absolute {
    background-color: skyblue;
    position: absolute;
    top: 3em;
    right: 5em;
}
#fixed {
    background-color: yellowgreen;
    position: fixed;
    top: 1em;
    left: 7em;
    z-index: 10;
}
#sticky {
    background-color: royalblue;
    position: sticky;
    top: 0;
}
/* pt exercitiu sa folosim sticky sau fixed */